<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>ulog</title>
        <link rel="stylesheet" href="template/index.css">
    </head>
    <body>
        <div class="main_index">
            <span class="h1">배고픈유엘</span>
            <span class="github">
                <a class="github" href="https://umjiwan.github.io/blog">홈화면</a>
                <a class="github" target="_blank" href="https://github.com/umjiwan">깃헙</a>
            </span>
            <hr>
            <div class="list">
                {list}
            </div>
            <hr>
            <span class="bottom">
                만든이: ulhangry
            </span>
        </div>
    </body>
</html>