div.post {
    font-family: 'LeeSeoyun';
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    display: inline-box;
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

span.subtitle {
    font-size: 1rem;
    display: inline-box;
}

span.github {
    display: inline-box;
    float: right;
}

a.github {
    font-size: 1rem;
    color: #707070;
    text-decoration: none;
    margin-left: 0.5rem;
}

p.content {
    font-size: 1rem;
}

h5 {
    font-size:0.8rem;
    margin-top: 0rem;
    color: #707070;
}

a.tag {
    text-decoration: none;
    color:#707070
}

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}