.post {
    font-family: 'LeeSeoyun';
    width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

h5 {
    color: #707070
}

a {
    text-decoration: none;
    color: #707070;
}

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}