<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ulog - {title}</title>
        <link rel="stylesheet" href="../template/post.css">
    </head>
    <body>
        <div class="post">
            <h1>{title}</h1>
            {subtitle}
            <span class="github">
                <a class="github" href="https://umjiwan.github.io/blog">홈화면</a>
                <a class="github" target="_blank" href="https://github.com/umjiwan">깃헙</a>
            </span>
            <hr>
            <p>
                {content}
            </p>
            <hr>
            <h5>
                작성자 : ulhangry<br>
                쓴날짜 : {date}<br>
                태그 : {tags}
            </h5>
        </div>
    </body>
</html>
