.post {
    font-family: 'LeeSeoyun';
    max-width: 650px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.3em;
}

span.github {
    display: inline-box;
    float: right;
    margin-right: 1em;
}

a.github {
    color: #707070;
    margin-left: 0.5em;
}


p {
    font-size: 1.2em;
}

h5 {
    color: #707070
}

a {
    text-decoration: none;
    color: #707070;
}

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}